<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>

  <div id="app">
    <!--1.checkbox单选框-->
    <!-- <label for="Agree">
      <input type="checkbox" name="同意协议" id="Agree" v-model="isAgree">
      同意协议
      <h2>您选择的是：{{isAgree}}</h2>
      <button :disabled="!isAgree">下一步</button>
    </label> -->

    <!-- 2.checkbox多选框 -->
    <input type="checkbox" v-model="hobbies" name="篮球" value="篮球">篮球
    <input type="checkbox" v-model="hobbies" name="足球" value="足球">足球
    <input type="checkbox" v-model="hobbies" name="排球" value="排球">排球
    <input type="checkbox" v-model="hobbies" name="乒乓球" value="乒乓球">乒乓球
    <h2>您的爱好是：{{hobbies}}</h2>

    <label :for="item" v-for="item in originHobbies">
      <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
    </label>
    
  </div>

  <script src="../js/vue-2.4.0.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '你好啊',
        isAgree: false, // 单选框
        hobbies: [],
        originHobbies: ['篮球', '足球', '乒乓球', '羽毛球', '台球', '高尔夫球']

      }
    })
  </script>

</body>

</html>